a {
    text-decoration: none;
    color: black;
}

.container {
    width: 30%;
    margin: 0 auto;
}

.names {
    display: flex;
    flex-direction: column;
}

.names > select {
    width: 50%;
}

.links {
    color: lightblue;
}

.content-area {
    margin-bottom: 50px;
    display: none;
}

.active {
    display: block;
}

.popup {
    display: none;
}